<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>GCS Sample</title>
</head>
<body>
  <h1>GCS Sample</h1>
  <h2>Upload</h2>
  <form action="/post" method="post" enctype="multipart/form-data">
    <textarea name="body" placeholder="本文"></textarea><br>
    <input type="file" name="file"/><br>
    <input type="submit"></input>
  </form>
</body>
</html>
